@media (max-width: 1000px)
  .container
    max-width: 95%
    margin: auto
  .header
    &__navigation
      background-color: blue
      position: absolute
      padding-top: 50px
      padding-left: 20px
      top: 0
      width: 95%
      height: 100vh
      z-index: 10
    &__item
      margin-bottom: 20px
    &__list
      flex-direction: column
    &__link
      color: #fff
      margin: 0
      padding: 0
    &__contact
      display: none
    &__logo
      display: none
      &-text
        &-m
          position: absolute
          right: 0
          bottom: 0
      &-m
        margin-left: 20px
        z-index: 10
        position: relative
        display: block
        text-decoration: none
        font-family: 'Exo', sans-serif
        font-style: normal
        font-weight: bold
        font-size: 12px
        line-height: 16px
        color: #24242E
  .burger
    display: block
// @media (max-width: 768px)
// @media (max-width: 480px)
