@media (max-width: 1200px)
  .container
    max-width: 98%
    margin: auto
@media (max-width: 1000px)
  .header
    &__navigation
      display: none
      position: relative
      &-visible
        position: absolute
        top: 0
        left: 0
        right: 0
        display: block
        background-color: #1E489B
        padding-top: 50px
        padding-left: 20px
        height: 100vh
        z-index: 10
    &__item
      margin-bottom: 20px
    &__list
      flex-direction: column
    &__link
      color: #fff
      margin: 0
      padding: 0
    &__contact
      display: none
    &__logo
      display: none
      &-m
        margin-left: 20px
        z-index: 10
        position: relative
        display: block
        text-decoration: none
        font-family: 'Exo', sans-serif
        font-style: normal
        font-weight: bold
        font-size: 12px
        line-height: 16px
        color: #24242E
      &-text
        &-m
          position: absolute
          right: 0
          bottom: 0
    &__social
      display: block
      margin-bottom: 50px
      &-link
        height: 31px
        width: 31px
        margin-right: 30px
    &__button
      font-family: $mainFont
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 24px
      color: #1E489B
      border: none
      padding: 23px 73px

  .burger
    display: block
@media (max-width: 768px)
  .main
    // height: 400px
    background: url(../img/main/main-bg-m.jpg) 0 0/100% auto no-repeat
    &__description
      padding-top: 70px
      max-width: 340px
    &__title
      font-size: 20px
    &__subtitle
      font-size: 12px
      line-height: 16px
@media (max-width: 480px)
  .main
    &__description
      max-width: 240px
