.advantage
  background-color: #24242E
  &__container
    position: relative
  &__button
    &-prev
      position: absolute
      left: 0
      top: 50%
      z-index: 5
      height: 30px
      width: 30px
      background-color: red
    &-next
      position: absolute
      right: 0
      top: 50%
      z-index: 5
      height: 30px
      width: 30px
      background-color: red
