.examples
  font-family: $mainFont
  color: #24242E
  &__container
    width: 100%
  &__title
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 120%
    max-width: 850px
    margin-bottom: 50px
  &__subtitle
    font-style: normal
    font-weight: normal
    font-size: 30px
    line-height: 120%
    margin-bottom: 30px
  &__done
    line-height: 120%
    font-size: 16px
    margin-bottom: 50px
    &-subtitle
      font-weight: 700
      font-style: normal
      margin-bottom: 20px
    &-text
      font-style: normal
      font-weight: 400
  &__pricelist
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 120%
    border-left: 9px solid #1E489B
    padding: 15px 10px
    &-icon
      margin-right: 20px
    &-item
      display: flex
      width: 100%
      margin-bottom: 20px
      &:nth-child(even)
        margin-left: 40px
      &:last-child
        margin-bottom: 0

  &__photos
    &-container
      display: flex
  &__photo
    &-wrapper
      margin-right: 40px
      width: 289px
      height: auto
      overflow: hidden
  &__slide
    display: flex
