.faq
  font-family: $mainFont
  margin-bottom: 50px
  &__title
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 120%
    color: #24242E
    margin-bottom: 50px
.question
  background-color: #F8F8F8
  padding: 5px 10px
  &__question
    position: relative
    text-align: left
    border: none
    background-color: #24242E
    cursor: pointer
    color: #fff
    width: 100%
    margin-bottom: 20px
    padding: 15px 30px 15px 15px
    &:after
      content: '\002B'
      position: absolute
      right: 15px
      top: 50%
      transform: translateY(-50%)
    &:hover
      background-color: #1E489B
    &-active
      background-color: #1E489B
      &:after
        content: '\2212'
  &__answer
    overflow: hidden
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 120%
    color: #24242E
    max-height: 0
