.form-2
  font-family: $mainFont
  padding: 50px 0 75px 0
  &__form
    display: flex
    flex-wrap: wrap
  &__description
    font-style: normal
    font-weight: bold
    font-size: 27px
    line-height: 120%
    color: #24242E
    max-width: 813px
    margin-bottom: 47px
  &__input
    background-color: #F8F8F8
    border: none
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 27px
    color: #24242E
    margin-right: 60px
    padding: 21px 30px 21px 30px
  &__button
    height: 69px
    background-color: #1E489B
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 27px
    color: #FFFFFF
    padding: 0 69px
