.reviews
  font-family: $mainFont
  position: relative
  padding: 50px 0
  &__container
    width: 100%
    min-height: 225px
  &__title
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 120%
    color: #24242E
    margin-bottom: 54px
  &__slide
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #F8F8F8
    min-height: 225px
    padding: 20px
  &__image
    border: 1px solid black
    border-radius: 50%
    margin-right: 30px
    padding: 10px
  &__img
    border-radius: 50%
    width: 100px
    height: 100px
  &__description
    &-name
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 120%
      color: #24242E
      margin-bottom: 5px
    &-stars
      display: flex
      margin-bottom: 20px
    &-review
      font-style: normal
      font-weight: 300
      font-size: 14px
      line-height: 120%
      color: #24242E
  &__button
    position: absolute
    z-index: 2
    border: none
    cursor: pointer
    background-repeat: no-repeat
    background-position: center
    background-color: transparent
    width: 40px
    height: 20px
    &-wrapper
      position: absolute
      right: 100px
      top: 60px
      width: 100px
    &-next
      right: 0
      background-image: url(../img/next.svg)
    &-prev
      left: 0
      background-image: url(../img/prev.svg)
.swiper-container>.reviews__pagination // High specificity to beat the swiper styles
  display: block
  width: 145px
  margin-left: auto
  margin-right: auto
  margin-top: 15px
