.company
  font-family: $mainFont
  position: relative
  margin-bottom: 100px
  &__pagination
    position: absolute
    bottom: -50px
  &__container
    width: 100%
    min-height: 225px
  &__title
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 120%
    color: #24242E
    margin-bottom: 54px
  &__slide
    min-height: 225px
    padding: 40px
    background-color: #F8F8F8
    &-text
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 120%
      color: #24242E
      margin-top: 28px
  &__button
    position: absolute
    z-index: 2
    border: none
    cursor: pointer
    background-repeat: no-repeat
    background-position: center
    background-color: transparent
    width: 40px
    height: 20px
    &-wrapper
      position: absolute
      right: 100px
      top: 100px
      width: 120px
    &-next
      right: 0
      background-image: url(../img/next.svg)
    &-prev
      left: 0
      background-image: url(../img/prev.svg)
